.topheader{
	padding-top: 25px !important;
}
.email{
	padding:10px;
}
.pass{
	padding: 10px;
}
.login{
	padding: 10px;
}
#err{
	display:none;
	color: red;
}
.emailtextbox, .passwordtextbox{
	/*width: 500px !important;
	margin-left: 10px !important;*/
}
.topbar{
	width: 100%;
	height: 40px;
	background-color: #003366;
	position: fixed;
	top:0;
	z-index: 1000;
}
.topbar span{
	color: white;
	float: right;
	margin-right: 15px;
	margin-top: 10px;
}
.addrem{
	padding-top: 15px;
	margin: 10px 18px;
	font-size: 1.5em;
}
.middle{
	margin-left: 30px;
	margin-top:50px;
}
.message{
	width:400px;
}
.msgdiv,.phndiv,.caldiv{
	margin: 10px;
}
.phone{
	width: 300px;
}
.addbtn{
	margin-left: 35px !important;
}
.uprem,.pastrem{
	font-size: 1.5rem;
	margin:20px;
	margin-left: 45px;
	text-decoration: underline;
}
.uprem:hover{
	cursor: pointer;
}
.remind,.pastremind{
	margin: 30px;	

}
.messagetext{
	display: inline-block;
	padding-left: 10px;
}
li p{
	margin-right: 15px;
}
.pastremind p{
	text-decoration: line-through;
}